<div class="accordion" id="accordionPanelsStayOpenExample">
  <h5 class="card mt-3 mb-2 border-none text-center">liste des matiéres</h5>
  <div *ngFor="let matiere of lesmatieres">
    <div class="accordion-item" [id]="'matiere' + matiere.id">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse' + matiere.id" aria-expanded="true" [attr.aria-controls]="'collapse' + matiere.id " (click)="onMatiereSelected(matiere)">
          {{matiere.nom}}
        </button>
      </h2>
    </div>
  </div>
</div>